ac-init.generated
aclocal.m4
autom4te.cache
build
config.guess
config.log
config.status
configure
configure.ac
create-package
fw
fw-pkgout
fw-pkgtmp
install-sh
Makefile
Makefile.am
Makefile.in
Makefile.otp
missing
.package
*.pc
*.tar.gz
*.tgz
