{clean_files, ["ebin", "doc"]}.

%{eunit_opts, [verbose,inorder]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.

% TODO: add 'bin_opt_info' below and fix
{erl_opts, [debug_info]}.

%% leex options
{xrl_opts, []}.

%% leex files to compile first
{xrl_first_files, ["src/lwes_esf_lexer.xrl"]}.

%% yecc options
{yrl_opts, []}.

%% yecc files to compile first
{yrl_first_files, ["src/lwes_esf_parser.yrl"]}.

% % for my own development, I like to use reloader
% {erl_opts, [debug_info, {d, 'TEST'}]}.
{deps,
  [
%     { mochiweb_reloader,
%       "2.3.1",
%       {git, "git://github.com/ostinelli/mochiweb_reloader.git", {tag, "2.3.1"}}
%     }
  ]
}.
