{clean_files, ["ebin", "doc"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{erl_opts, [debug_info]}.
{deps,[]}.

%% leex options
{xrl_opts, []}.

%% leex files to compile first
{xrl_first_files, ["src/esf_lexer.xrl"]}.

%% yecc options
{yrl_opts, []}.

%% yecc files to compile first
{yrl_first_files, ["src/esf_parser.yrl"]}.

% % for my own development, I like to use reloader
% {erl_opts, [debug_info, {d, 'TEST'}]}.
% {deps,
%   [
%     { mochiweb_reloader,
%       "2.3.1",
%       {git, "git://github.com/ostinelli/mochiweb_reloader.git", {tag, "2.3.1"}}
%     }
%   ]
% }.
